// Place all the styles related to the log/log controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.videos table {
  width: 100%;
}

div.videos th {
  text-align: left;
}

div.videos td.delete a {
  border: 0;
}