#reader ul#channels {
  float: right;
  margin-right: 10px;
  text-align: right;
}

ul#channels {
  font-size: 19px;
}

ul#channels li {
  margin-bottom: 5px;
}

ul#channels li span {
  margin-right: 24px;
}

ul#channels li span.checked {
  margin-right: 0;
  text-decoration: line-through;
  color: #555;
}

#reader table {
  width: 80%;
}

#reader table img, #subscribe table img, #hidden_videos table img {
  float: right;
}

#subscribe table {
  margin-top: 10px;
  width: 30%;
}

#hidden_videos table {
  margin-top: 10px;
  width: 100%;
}

#reader table a {
  border: 0;
}

#reader table tr:nth-child(even) {
  background-color: white;
}

#reader table tr:nth-child(odd) {
  background-color: #eee;
}

#reader table td {
  padding: 5px;
}

#reader h3 {
  margin: 11px 0 7px 7px;
}