<%= @module = 'conf'
    render '/head' %>

<div id="actions_nav">
  <ul id="actions">
    <% conf_actions.each do |action_name, action_path| %>
        <li><%= link_to action_name, action_path %></li>
    <% end %>
  </ul>
</div>

<h3><%= @action_name %></h3>