<%= title t("youtube.grant_access_title") %>

<p>
  <%= t "youtube.access_denied.sad" %>
</p>

<p>
  <%= t "youtube.access_denied.grant_access" %>
</p>

<p>
  <%= t("youtube.access_denied.try_again", link: grant_access_link).html_safe %>
</p>