<div id="comments">
  <h4><%= t("player.comments") %></h4>
  <div class="separator">
  </div>
  <% @video.comments.each do |comment| %>
  <div class="comment">
    <em><%= comment.author.uri.gsub("http://gdata.youtube.com/feeds/api/users/", "") %></em>
    <span><%= comment.content %></span>
  </div>
  <% end %>
</div>