<div class="noembed">
  <% if @video.thumbnail %>
    <%= link_to image_tag(@video.thumbnail, width: 300), @video.url, target: '_blank' %>
  <% end %>
  <div>
    <strong>
      <%= t 'player.noembed' %>
    </strong>
    <p>
      <%= t('player.noembed2', link: link_to(t('player.noembed_link'), @video.url, target: '_blank')).html_safe %>
    </p>
  </div>
</div>