@import 'variables';

div.clear {
  clear: both;
}

div#flash div {
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #555;
}

div#flash div.notice {
    background-color: #a6ff00;
    color: $bgcolor;
}

div#flash div.alert {
    background-color: #ff9e99;
    color: $bgcolor;
}

a {
  color: $accentcolor;
  text-decoration: none;
}

a:hover {
  color: $lightaccentcolor;
}

#reader table a, .ajax-user a, .videos table a {
    color: $lightestaccentcolor;
}

#reader table a:hover, .ajax-user a:hover, .videos table a:hover {
    text-decoration: underline;
}

a img {
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0 10px 0;
}

h3 {
  margin: 18px 0 14px 7px;
}

div.recently_watched_videos h3 {
  margin: 30px 0 20px 0;
}

ul {
  list-style-type: none;
  padding-left: 6px;
}

ul li {
  padding-bottom: 3px;
}

table.wide {
  width: 100%;
}

th {
  text-align: left;
}

table {
    border-collapse: separate;
    border-spacing: 0px;
}

table.striped tr:nth-child(even) {
  background-color: $tablestripecolor;
}

table td {
    padding: 3px;
    padding-top: 5px;
    padding-bottom: 3px;
    vertical-align: middle;
}

table tr th {
  padding: 6px 0 6px 3px;
}
