@import 'variables';

#loading {
  position: fixed;
  display: none;
  float: left;
  width: 32px;
  height: 32px;
}

#page_title {
  margin: 20px 0 20px 0;
  color: $color;
}

#page_title h1 {
  font-size: 24px;
}

#page_title h1 .module_description {
  font-size: 14px;
  font-weight: normal;
  margin-left: 40px;
}

#page_title a {
  color: $color;
}

#page_title a:hover {
  text-decoration: underline;
}

#subnav li {
  float: right;
  padding: 0;
  margin-top: 19px;
}

#subnav li a {
  display: block;
  background-color: $lightbgcolor;
  padding: 7px 15px 4px 15px;
  margin: 0;
}

#subnav li a:hover {
  border-bottom: none;
  background-color: $lightbgcolor;
}

#subnav li:last-child a {
  border: none;
}

#subnav li a.active {
  background-color: $lightestbgcolor;
}

button, input, select, textarea {
    background-color: $lightestbgcolor;
    border: none;
    padding: 2px 10px;
    color: $color;
}

button.active {
    color: $accentcolor;
}

.pagination button {
    padding: 3px 5px;
}

input {
    height: 19px;
}

.search {
    background-color: $lightbgcolor;
    height: 30px;
}
