<p><%= t 'devise.mailer.welcome', username: @resource.username %></p>

<p><%= t 'devise.mailer.confirm_text' %></p>

<p><%= link_to t('devise.mailer.confirm'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
