<h1 style="<%= options[:style] %>">
<%= content %>
  <span class="module_description">
    <%= t "modules.#{@module}_description", application_name: t('application.name') if @module %>
  </span>
</h1>